{% extends "shanson_layout.html" %}

{% load thumbnails %}
{% load static from staticfiles %}


{% block title %}{% if current_node.self_fields.title %}{{ current_node.self_fields.title|safe }}{% else %}{{ current_node.get_full_title|safe }} — {{ news.title|safe|striptags }}{% endif %}{% endblock %}

{% block headjs %}
	<script type="text/javascript" src="{% static 'js/jquery.jscrollpane.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.mousewheel.js' %}"></script>
	<script type="text/javascript">$(window).load(function(){$('.scroll-pane').jScrollPane({
		verticalDragMinHeight: 20,
		verticalDragMaxHeight: 120,
		horizontalDragMinWidth: 20,
		horizontalDragMaxWidth: 120
	});});</script>
{% endblock %}

{% block body %}<div class="main-frame"><div class="content-holder">
	<div class="block_breadcrumbs" >{% for crumb in breadcrumbs %}<a class="breadcrumbs" href="{{ crumb.get_absolute_url }}">{{ crumb|safe }}</a>{% if not forloop.last %}&nbsp;&rarr;&nbsp;{% endif %}{% endfor %}&nbsp;&rarr;&nbsp;{{ news.title|safe }}</div>
	<div class="content"><div class="article-box">
		<h2>{{ news.title|safe }}</h2>
		<div class="post-date">{{ news.date }} <span class="time">{{ news.time }}</span></div>
		{% if news.photo %}<div class="holder">
			<div class="visual"><img src="{{ news.photo.path|thumbnail:"627x405,crop" }}" width="627" height="405" alt="{{ news.title }}" /></div>
		</div>{% endif %}
		<p>{{ news.text|safe }}</p>

{# ok like #}
		<div id="ok_shareWidget"></div>
		<script>
			!function (d, id, did, st) {
				var js = d.createElement("script");
				js.src = "http://connect.ok.ru/connect.js";
				js.onload = js.onreadystatechange = function () {
					if (!this.readyState || this.readyState == "loaded" || this.readyState == "complete") {
						if (!this.executed) {
							this.executed = true;
							setTimeout(function () {OK.CONNECT.insertShareWidget(id,did,st);}, 0);
						}
					}
				};
				d.documentElement.appendChild(js);
			}(document,"ok_shareWidget","http://{{ request.META.HTTP_HOST }}{{ request.path }}","{width:145,height:30,st:'straight',sz:20,ck:1}");
		</script>

{# soc coment - cockle #}
		<div id="mc-container"></div>
		<script type="text/javascript">
			var mcSite = '36065';
			(function() {
				var mc = document.createElement('script');
				mc.type = 'text/javascript';
				mc.async = true;
				mc.src = '//cackle.me/mc.widget-min.js';
				(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(mc);
			})();
		</script>
		<a href="http://cackle.me" id="mc-link">система комментирования <b style="color:#4FA3DA">CACKL</b><b style="color:#F65077">E</b></a>
	</div></div>

{% comment %}
=================================
Правые блоки и баннеры вижу тут я
=================================
{% endcomment %}
	<div class="aside no-title">
		{% if current_node.right_blocks.count %}{% for right_block in current_node.right_blocks.all %}<div class="aside-box">
			{{ right_block.description|safe }}
			{% if right_block.photo %}{% if right_block.url %}
				<a href="{{ right_block.url }}" ><img src="{{ right_block.photo.url }}" alt="{{ right_block.description|safe|slice:"0:64" }}" /></a>
			{% else %}
				<img src="{{ right_block.photo.url }}" alt="{{ right_block.description|safe|slice:"0:64" }}" />
			{% endif %}{% endif %}
		</div>{% endfor %}{% endif %}
		{% if day_news_list.count %}<div class="aside-box day-news">
			<h3 class="day-news-h3" >Новости дня</h3>
			<hr />
			{% for day_news in day_news_list %}
				<div class="day_news_link" >
					{{ day_news.time }}<br />
					<a href="{{ day_news.get_absolute_url }}" >{{ day_news }}</a>
				</div>
			{% endfor %}
			<hr />
			<a href="{% url shanson_day_news_more news.id %}" class="more_news" >к остальным новостям за день</a>
		</div>{% endif %}
	</div>
</div><!--content-holder end--></div>{% endblock %}