{% load navigation mptt_tags %}

{% with current_node|get_parent_lvl:1 as station %}
	<div class="header-frame">
		<a href="#" class="order-sound">
			<span>Передать привет</span>
		</a>
		<ul id="nav">
			{% for node in station.get_children %}{% if node.menu_visible %}
				<li{% if node == current_root_node %} class="active"{% endif %}><a{% if node.path != request.path %} href="{{ node.get_absolute_url }}"{% endif %}><span>{{ node.menu|safe }}</span></a></li>
			{% endif %}{% endfor %}
		</ul>
		<h1 class="logo"><a {% if request.path != station.get_absolute_url %}href="{{ station.get_absolute_url }}"{% endif %}>{{ station }}</a></h1>
		<div id="ya-search" class="shanson" >
			<div class="ya-site-form ya-site-form_inited_no" onclick="return {'bg': 'transparent', 'publicname': '\u041f\u043e\u0438\u0441\u043a \u043f\u043e ugradio.fm', 'target': '_blank', 'language': 'ru', 'suggest': true, 'tld': 'ru', 'site_suggest': true, 'action': 'http://yandex.ru/sitesearch', 'webopt': false, 'fontsize': 12, 'arrow': false, 'fg': '#000000', 'searchid': '2099958', 'logo': 'rb', 'websearch': false, 'type': 2}">
				<form action="http://yandex.ru/sitesearch" method="get" target="_blank">
					<input type="hidden" name="searchid" value="2099958" />
					<input type="hidden" name="l10n" value="ru" />
					<input type="hidden" name="reqenc" value="" />
					<input type="text" name="text" value="" />
					<input type="submit" value="Найти" /></form>
			</div>
			<style type="text/css">.ya-page_js_yes .ya-site-form_inited_no { display: none; }</style>
			<script type="text/javascript">
				(function(w,d,c){var s=d.createElement('script'),h=d.getElementsByTagName('script')[0],e=d.documentElement;(' '+e.className+' ').indexOf(' ya-page_js_yes ')===-1&&(e.className+=' ya-page_js_yes');s.type='text/javascript';s.async=true;s.charset='utf-8';s.src=(d.location.protocol==='https:'?'https:':'http:')+'//site.yandex.net/v2.0/js/all.js';h.parentNode.insertBefore(s,h);(w[c]||(w[c]=[])).push(function(){Ya.Site.Form.init()})})(window,document,'yandex_site_callbacks');
			</script>
		</div>
	</div>
{% endwith %}