{% extends "mayak_blank_layout.html" %}


{% block content %}
	{{ current_node.teaser|safe }}

	<form action="{% url rememberandproud_form %}" class="mayak_new_form" method="post" enctype="multipart/form-data" >
		<ul>{{ form.as_ul }}</ul>
		<input type="submit" value="Отправить">
		{# <a href="{% url mayak_consultant consult.id %}" class="abort" >Отменить</a> #}
	</form>

	{{ current_node.content|safe }}
		<br>
		<br>
		<br>
		<h3>Истории</h3>
	{% for transfer in audio_archive %}
		<h4>{{ transfer.caption|safe }}</h4>
		<p>{{ transfer.date }}</p>
		
		<div class="description">{{ transfer.description|safe }}</div>
		{{ transfer.soundcloud|safe }}
		<br>
		<br>
		<br>
		<br>
	{% endfor %}
	
{% endblock %}