{% extends "mayak_layout.html" %}

{% load static from staticfiles %}
{% load thumbnails %}


{% block preheadjs %}
	<link rel="stylesheet" href="{% static 'css/jquery.datapiker.css' %}">
{% endblock %}

{% block headjs %}
	<script type="text/javascript" src="{% static 'js/jquery.jscrollpane.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.mousewheel.js' %}"></script>
	<script src="{% static 'js/jquery-ui.js' %}"></script>
	<script type="text/javascript" >
		$(function() {
			$('.scroll-pane').jScrollPane({ horizontalDragMinWidth: 20 });
		});

		$.datepicker.regional['ru'] = {
			closeText: 'Закрыть',
			prevText: '&#x3c;Пред',
			nextText: 'След&#x3e;',
			currentText: 'Сегодня',
			monthNames: ['Январь','Февраль','Март','Апрель','Май','Июнь', 'Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь'],
			monthNamesShort: ['Янв','Фев','Мар','Апр','Май','Июн', 'Июл','Авг','Сен','Окт','Ноя','Дек'],
			dayNames: ['воскресенье','понедельник','вторник','среда','четверг','пятница','суббота'],
			dayNamesShort: ['вск','пнд','втр','срд','чтв','птн','сбт'],
			dayNamesMin: ['Вс','Пн','Вт','Ср','Чт','Пт','Сб'],
			weekHeader: 'Не',
			dateFormat: 'dd.mm.yy',
			firstDay: 1,
			isRTL: false,
			showMonthAfterYear: false,
			yearSuffix: ''
		};
		$.datepicker.setDefaults($.datepicker.regional['ru']);

		var links = { {% for archive_programm in program.programsarchive_set.published %}{% if not forloop.first %},{% endif %}"{{ archive_programm.date|date:'d.m.Y' }}": {"url":'{{ archive_programm.get_absolute_url }}',"text":'{{ archive_programm.caption }}'}{% endfor %} };

		function available(date) {
			var values = [ date.getDate(), date.getMonth()+1 ];
			for ( var id in values ) {values[ id ] = values[ id ].toString().replace( /^([0-9])$/, '0$1' );}
				dmy = values[ 0 ]+'.'+values[ 1 ]+'.'+date.getFullYear()
			if ( links[dmy] && setDate == values[ 1 ]+'.'+date.getFullYear() ){
				$('#archive_list').append('<p>'+dmy+'<br />'+links[dmy]["text"]+'<br /><a href="'+links[dmy]["url"]+'" >Послушать запись</a></p>');
				return [true, "Available","Available"];
			} else {
				return [false,"unAvailable","unAvailable"];
			}
		}

		function show_archive(date) {
			if ( links[date] ) {
				document.location.href = links[date]['url'];
			}
			return false
		}

		var setDate = "{% now 'm.Y' %}";

		function clear_archive(year, month) {
			setDate = month.toString().replace( /^([0-9])$/, '0$1' )+'.'+year;
			$('#archive_list').text('')
		}

		$(function() {
			$( "#datepicker" ).datepicker({
				changeYear: true,
				minDate: "{{ program.get_earliest_archive_date_for_datapicer }}",
				maxDate: "{{ program.get_latest_archive_date_for_datapicer }}",
				beforeShowDay: available,
				onChangeMonthYear: clear_archive,
				onSelect: show_archive
			});
			$( "#datepicker .ui-datepicker-prev" ).click();
			$( "#datepicker .ui-datepicker-next" ).click();
		});
	</script>
{% endblock %}

{% block body %}
	<div class="main-frame">
		<div class="program-frame">
			<div class="block_breadcrumbs" >{% for crumb in breadcrumbs %}<a class="breadcrumbs" href="{{ crumb.get_absolute_url }}">{{ crumb|safe }}</a>{% if not forloop.last %}&nbsp;&rarr;&nbsp;{% endif %}{% endfor %}&nbsp;&rarr;&nbsp;{{ program.title|safe }}</div>
			<h3>{{ program.title|safe }}</h3>
			<div class="description">{{ program.anons|safe }}</div>
			<p>{{ program.schedule|safe }}</p>

			{% for photo in program.get_photo_list %}
				{% if forloop.first %}
					<ul class="img-list item-photo-group">
				{% endif %}
					<li class="item-photo-hldr">
						<a href="{{ photo.photo.path|thumbnail:"570x380,crop" }}" class="photo">
							<img src="{{ photo.photo.path|thumbnail:"281x203,crop" }}" width="281" height="203" alt="{{ photo.photo.description|safe }}" />
							<span class="shadow"></span>
						</a>
					</li>
				{% if forloop.last %}
					</ul>
				{% endif %}
			{% endfor %}
		</div>

		<div class="content-holder">
			<div class="content">
				<div class="archive" >
					<div class="title">Архив программы</div>
					<hr calss="hr_datepicker" />
					<div id="datepicker" ></div>
					<div id="archive_list" ></div>
				</div>
				<div id="mc-container"></div>
				<script type="text/javascript">
					var mcSite = '21993';
					(function() {
						var mc = document.createElement('script');
						mc.type = 'text/javascript';
						mc.async = true;
						mc.src = '//cackle.me/mc.widget-min.js';
						(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(mc);
					})();
				</script>
				<a href="http://cackle.me" id="mc-link">система комментирования <b style="color:#4FA3DA">CACKL</b><b style="color:#F65077">E</b></a>
			</div>
			<div class="aside no-title">
				<ul class="visual-list">
					<p>Ведущие</p>
					{% for staff in program.staff.all %}
						<li>
							<div class="visual-holder">
								<img src="{{ staff.photo_min.path|thumbnail:"123x82,crop" }}" width="123" height="82" alt="{{ staff.name_surname|safe }}" />
								<span class="shadow"></span>
							</div>
							<div class="name"><a href="{{ staff.get_absolute_url }}">{{ staff.name_surname|safe }}</a></div>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<a href="http://cackle.me" id="mc-link">система комментирования <b style="color:#4FA3DA">CACKL</b><b style="color:#F65077">E</b></a>
	</div><!--main-frame end-->
{% endblock %}

{% block popup %}
	<div class="popup-holder" style="left:-0px; display: none;">
		<div class="bg">&nbsp;</div>
		<div class="popup image">
			<a href="#" class="close"></a>
			<a href="#" class="next"></a>
			<a href="#" class="prev"></a>
			<img src="" width="570" height="380" alt="" />
		</div>
	</div>
{% endblock %}

{% block jsfoot %}
	<script type="text/javascript">
		$('.years>li>a').click(function (){
			var li = $(this).parent('li');
			li.siblings('li.active').removeClass('active');
			li.addClass('active');
			return false;
		})

		$('.month-list>li>a').click(function (){
			var li = $(this).parent('li');
			li.siblings('li.active').removeClass('active');
			li.addClass('active');
			return false;
		})
	</script>
{% endblock %}